# 六大檢定作業 (台股)

In [26]:
import numpy as np

In [27]:
from scipy import stats

In [28]:
import pandas as pd

In [29]:
tw_df = pd.read_csv(r'C:\Users\s0954\Desktop\財金計量方法\由一個例子學習六大檢定檔案_python -20210319\TWSE.csv',header=None)
tw_df = df.rename(columns={0:'P/E ratio'}).copy()

In [30]:
tw_df

    P/E ratio
0       15.13
1       13.48
2       23.74
3       22.40
4       15.45
5       28.03
6       14.14
7       34.98
8       14.18
9       12.58
10      20.89
11      13.38
12      12.74
13      10.33
14      21.92
15      12.24
16       8.93
17      11.45
18      11.53
19       8.73
20      11.68
21      12.56
22      28.45
23       3.63
24       4.08
25      19.53
26      12.09
27      12.31
28      12.32
29      10.36
30       7.43
31      10.07
32      11.91
33      12.47
34      11.23
35       9.60
36     127.50
37       8.42
38       9.68
39      10.50
40      27.50
41      16.62
42      18.64
43       3.33
44      20.77
45       9.95
46      13.99
47      34.89
48      12.51
49      17.10

In [31]:
ny_df = pd.read_csv(r'C:\Users\s0954\Desktop\財金計量方法\由一個例子學習六大檢定檔案_python -20210319\NYSE.csv',header=None)
ny_df = df.rename(columns={0:'P/E ratio'}).copy()

檢定TWSE的本益比是否變異數為625

In [53]:
var = np.var(tw_df,ddof = 1)

$ \chi^2 = (n-1)\frac{S^2}{\sigma^2}$

In [51]:
chi_square = (tw_df.size*var)/625
chi_square

P/E ratio    24.351946
dtype: float64

In [52]:
p_value = stats.chi2.cdf(x = chi_square,df = (tw_df.size-1))
p_value

array([0.0012239])

雙母體本益比平均值

In [55]:
new_df = tw_df.concat()

Ttest_indResult(statistic=array([0.]), pvalue=array([1.]))

In [1]:
jupyter nbconvert --execute B10733033王廣和_以台股操作六大檢定hw.ipynb --to pdf

SyntaxError: invalid syntax (<ipython-input-1-b6351546d5a5>, line 1)